<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1004099048429-bsf1sdd591odeahcsdppcoiog8boutms.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1004099048429-bsf1sdd591odeahcsdppcoiog8boutms</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1004099048429-1jsg3o6ldcecrrnmp9saa1scfgcpvrci.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA95KyTZHTwb0JsVSllByn6fXl3sUjkL08</string>
	<key>GCM_SENDER_ID</key>
	<string>1004099048429</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.galihverse.appstore</string>
	<key>PROJECT_ID</key>
	<string>tasks-f21de</string>
	<key>STORAGE_BUCKET</key>
	<string>tasks-f21de.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1004099048429:ios:65d7fe3d2f676b5eeb8de4</string>
</dict>
</plist>